formex/schema/chargement-01.00-20040501.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by OPOCE (fujitsu siemens computers) -->
<!-- edited with XMLSPY v5 rel. 4 (http://www.xmlspy.com) by Sylvie Tarizzo-Thonier (private) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CHARGEMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NOTICES" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="ID_CELEX" type="xs:string"/>
								<xs:element name="ID_JO" type="xs:string"/>
								<xs:element name="ID_COM" type="xs:string"/>
								<xs:element name="ID_CES" type="xs:string"/>
								<xs:element name="ID_CDR" type="xs:string"/>
								<xs:element name="ID_PE" type="xs:string"/>
								<xs:element name="ID_DD" type="xs:string"/>
								<xs:element name="ID_MTF" type="xs:string"/>
								<xs:element name="ID_CONSLEG" type="xs:string"/>
								<xs:element name="ID_CONSEILADD" type="xs:string"/>
								<xs:element name="ID_CONSEILREL" type="xs:string"/>
								<xs:element name="ID_EUROSTAT" type="xs:string"/>
								<xs:element name="ID_RECUEIL" type="xs:string"/>
								<xs:element name="ID_PUB" type="xs:string"/>
							</xs:choice>
							<xs:element name="T_DORIS">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VOLET_ID_BIB"  minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:choice minOccurs="0" maxOccurs="unbounded">
														<xs:element name="PD" type="xs:string"/>
														<xs:element name="OJ_VOL" type="xs:string"/>
														<xs:element name="OJ_SOM">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="OJ_AGE" type="xs:string"/>
																	<xs:element name="ID_PRT" type="xs:string"/>
																	<xs:element name="CONTENTS">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="CONTENTS_PAGE_FIRST" type="xs:string"/>
																				<xs:element name="CONTENTS_PAGE_LAST" type="xs:string"/>
																				<xs:element name="CONTENTS_PAGE_TOTAL" type="xs:string"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="NO_OFF_GRVL">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NO_OFF_VL" type="xs:string"/>
																	<xs:element name="NO_OFF_CATN" type="xs:string" minOccurs="0"/>
																	<xs:element name="NO_OFF_ISSN" type="xs:string" minOccurs="0"/>
																	<xs:element name="NO_OFF_OTHA" type="xs:string" minOccurs="0"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="OJ_PUB">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="COLL_OJ" type="xs:string"/>
																	<xs:element name="NO_OJ" type="xs:string"/>
																	<xs:element name="NO_OJ_CLASS" type="xs:string"/>
																	<xs:element name="YEAR_OJ" type="xs:string"/>
																	<xs:element name="NO_SEQ" type="xs:string" minOccurs="0"/>
																	<xs:element name="PAGE_FIRST" type="xs:string"/>
																	<xs:element name="SEQ_PAGE" type="xs:string" minOccurs="0"/>
																	<xs:element name="PAGE_LAST" type="xs:string" minOccurs="0"/>
																	<xs:element name="PAGE_TOTAL" type="xs:string" minOccurs="0"/>
																	<xs:element name="COMPOSE_GR" minOccurs="0">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="COMPOSE" type="xs:string" maxOccurs="unbounded"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
													<xs:element name="ED_SPEC" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ED_SPEC_LG" type="xs:string"/>
																<xs:element name="ED_SPEC_SR1" type="xs:string" minOccurs="0"/>
																<xs:element name="ED_SPEC_SR2" type="xs:string" minOccurs="0"/>
																<xs:element name="ED_SPEC_CH" type="xs:string" minOccurs="0"/>
																<xs:element name="ED_SPEC_T" type="xs:string" minOccurs="0"/>
																<xs:element name="ED_SPEC_V" type="xs:string" minOccurs="0"/>
																<xs:element name="ED_SPEC_P" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RECUEIL_REF_PUB" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RECUEIL_PUB" type="xs:string"/>
																<xs:element name="RECUEIL_ANNEE" type="xs:string" minOccurs="0"/>
																<xs:element name="RECUEIL_PAGES_GR" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="RECUEIL_PAGES" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="RECUEIL_PARTIE" type="xs:string" minOccurs="0"/>
																						<xs:element name="RECUEIL_PAGE_DEB" type="xs:string"/>
																						<xs:element name="RECUEIL_PAGE_FIN" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RECUEIL_SPEC" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RECUEIL_SPEC_LG" type="xs:string"/>
																<xs:element name="RECUEIL_SPEC_ANNEE" type="xs:string" minOccurs="0"/>
																<xs:element name="RECUEIL_SPEC_PAGES_GR" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="RECUEIL_SPEC_PAGES" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="RECUEIL_SPEC_PARTIE" type="xs:string" minOccurs="0"/>
																						<xs:element name="RECUEIL_SPEC_PAGE_DEB" type="xs:string"/>
																						<xs:element name="RECUEIL_SPEC_PAGE_FIN" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DEBAT_NON_PUB" type="xs:string" minOccurs="0"/>
													<xs:element name="DEBAT_PUB" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DEBAT_PUB_LG" type="xs:string"/>
																<xs:element name="DEBAT_PUB_NO" type="xs:string"/>
																<xs:element name="DEBAT_PUB_PG" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="OTHER_PUB" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="CONSLEG" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CONSLEG_REFER" type="xs:string"/>
																<xs:element name="CONSLEG_DATE" type="xs:string"/>
																<xs:element name="CONSLEG_COUCHE" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PUB_GRVL" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PUB_VL" type="xs:string" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_TIT" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TITRE" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TIT_QUAL" type="xs:string"/>
																<xs:choice>
																	<xs:element name="TIT_ES" type="xs:string"/>
																	<xs:element name="TIT_DA" type="xs:string"/>
																	<xs:element name="TIT_DE" type="xs:string"/>
																	<xs:element name="TIT_EL" type="xs:string"/>
																	<xs:element name="TIT_EN" type="xs:string"/>
																	<xs:element name="TIT_FR" type="xs:string"/>
																	<xs:element name="TIT_IT" type="xs:string"/>
																	<xs:element name="TIT_NL" type="xs:string"/>
																	<xs:element name="TIT_PT" type="xs:string"/>
																	<xs:element name="TIT_FI" type="xs:string"/>
																	<xs:element name="TIT_SV" type="xs:string"/>
																	<xs:element name="TIT_GA" type="xs:string"/>
																	<xs:element name="TIT_CS" type="xs:string"/>
																	<xs:element name="TIT_ET" type="xs:string"/>
																	<xs:element name="TIT_LV" type="xs:string"/>
																	<xs:element name="TIT_LT" type="xs:string"/>
																	<xs:element name="TIT_HU" type="xs:string"/>
																	<xs:element name="TIT_MT" type="xs:string"/>
																	<xs:element name="TIT_PL" type="xs:string"/>
																	<xs:element name="TIT_SK" type="xs:string"/>
																	<xs:element name="TIT_SL" type="xs:string"/>
																</xs:choice>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_OJ" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OJ_SECTION" type="xs:string" minOccurs="0"/>
													<xs:element name="OJ_DURAB" type="xs:string" minOccurs="0"/>
													<xs:element name="OJ_CORR" type="xs:string"/>
													<xs:element name="OJ_TYPEDOC" type="xs:string" minOccurs="0"/>
													<xs:element name="OJ_AUTHOR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
													<xs:choice minOccurs="0" maxOccurs="unbounded">
														<xs:element name="OJ_DOC_NO">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="OJ_DOC_NO_FORMAT" type="xs:string"/>
																	<xs:element name="OJ_DOC_NO_CUR" type="xs:string" minOccurs="0"/>
																	<xs:element name="OJ_DOC_NO_YEAR" type="xs:string" minOccurs="0"/>
																	<xs:element name="OJ_DOC_NO_COM_GR" minOccurs="0">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="OJ_DOC_NO_COM" type="xs:string" maxOccurs="unbounded"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="OJ_DOCSEQ" type="xs:string"/>
														<xs:element name="OJ_NUM_INF" type="xs:string"/>
														<xs:element name="OJ_OFFSET_PG" type="xs:string"/>
														<xs:element name="OJ_ENTRY">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="OJ_ENTRY_SEQ" type="xs:string"/>
																	<xs:element name="OJ_ENTRY_PGFIRST" type="xs:string"/>
																	<xs:element name="OJ_ENTRY_PGLAST" type="xs:string"/>
																	<xs:element name="OJ_ENTRY_GRVL" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="OJ_ENTRY_VL" type="xs:string"/>
																				<xs:element name="OJ_ENTRY_TITRE">
																					<xs:complexType mixed="true">
																						<xs:choice minOccurs="0" maxOccurs="unbounded">
																							<xs:element name="FT">
																								<xs:complexType>
																									<xs:simpleContent>
																										<xs:extension base="xs:string">
																											<xs:attribute name="TYPE" type="xs:string" use="required"/>
																										</xs:extension>
																									</xs:simpleContent>
																								</xs:complexType>
																							</xs:element>
																							<xs:element name="NOTE">
																								<xs:complexType>
																									<xs:simpleContent>
																										<xs:extension base="xs:string">
																											<xs:attribute name="TYPE" type="xs:string" use="required"/>
																										</xs:extension>
																									</xs:simpleContent>
																								</xs:complexType>
																							</xs:element>
																						</xs:choice>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_PDF" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PDF_ENTRY" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PDF_ENTRY_SEQ" type="xs:string" minOccurs="0"/>
																<xs:element name="PDF_ENTRY_GRVL" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PDF_ENTRY_VL" type="xs:string"/>
																			<xs:element name="PDF_ENTRY_REF_DOC" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_FORMEX" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:sequence>
														<xs:element name="FORMEX_DOCSEQ" type="xs:string"/>
														<xs:element name="FORMEX_PART" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="FORMEX_PART_NO_SEQ" type="xs:string"/>
																	<xs:element name="FORMEX_PART_TYPEPAR" type="xs:string" minOccurs="0"/>
																	<xs:element name="FORMEX_PART_PARDOC" type="xs:string" minOccurs="0"/>
																	<xs:element name="FORMEX_PART_PARSEQ" type="xs:string" minOccurs="0"/>
																	<xs:element name="FORMEX_PART_PARPUBSEQ" type="xs:string" minOccurs="0"/>
																	<xs:element name="FORMEX_PART_PGFIRST" type="xs:string"/>
																	<xs:element name="FORMEX_PART_PHYSPGFIRST" type="xs:string"/>
																	<xs:element name="FORMEX_PART_PGLAST" type="xs:string"/>
																	<xs:element name="FORMEX_PART_PHYSPGLAST" type="xs:string"/>
																	<xs:element name="FORMEX_PART_PGTOTAL" type="xs:string" minOccurs="0"/>
																	<xs:element name="FORMEX_PART_SEQINPG" type="xs:string" minOccurs="0"/>
																	<xs:element name="FORMEX_PART_GRVL" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="FORMEX_PART_VL" type="xs:string"/>
																				<xs:element name="FORMEX_PART_TITRE" type="xs:string" minOccurs="0"/>
																				<xs:element name="FORMEX_PART_REF_DOC" type="xs:string" minOccurs="0"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:element name="FORMEX_CONSLEG_GRVL" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FORMEX_CONSLEG_VL" type="xs:string"/>
																<xs:element name="FORMEX_CONSLEG_PRODSEQ" type="xs:string"/>
																<xs:element name="FORMEX_CONSLEG_REF_DOC" type="xs:string"/>
																<xs:element name="FORMEX_CONSLEG_TITRE" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_TIFF" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TIFF_VOL_GRVL" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TIFF_VOL_VL" type="xs:string"/>
																<xs:element name="TIFF_VOL_ID" type="xs:string"/>
																<xs:element name="TIFF_VOL_SEQ" type="xs:string" minOccurs="0"/>
																<xs:element name="TIFF_VOL_NBPG" type="xs:string" minOccurs="0"/>
																<xs:element name="TIFF_VOL_PGLIST" type="xs:string" minOccurs="0"/>
																<xs:element name="TIFF_VOL_PGLOG" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TIFF_STATUS" type="xs:string" minOccurs="0"/>
													<xs:element name="TIFF_DOCSEQ" type="xs:string" minOccurs="0"/>
													<xs:element name="TIFF_PART" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TIFF_PART_NO_SEQ" type="xs:string"/>
																<xs:element name="TIFF_PART_PGFIRST" type="xs:string" minOccurs="0"/>
																<xs:element name="TIFF_PART_PGLAST" type="xs:string" minOccurs="0"/>
																<xs:element name="TIFF_PART_PGLIST" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="TIFF_PG_PHYS" type="xs:string"/>
																			<xs:element name="TIFF_PG_ID" type="xs:string"/>
																			<xs:element name="TIFF_PG_ALIAS" type="xs:string" minOccurs="0"/>
																			<xs:element name="TIFF_PG_OLD" minOccurs="0">
																				<xs:complexType/>
																			</xs:element>
																			<xs:element name="TIFF_TP_PAGE" minOccurs="0">
																				<xs:complexType/>
																			</xs:element>
																			<xs:element name="TIFF_PG_VL" minOccurs="0">
																				<xs:complexType/>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_DOC_BIB" minOccurs="0">
											<xs:complexType>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="AD1" type="xs:string"/>
													<xs:element name="AD2" type="xs:string"/>
													<xs:element name="DP" type="xs:string"/>
													<xs:element name="CC" type="xs:string"/>
													<xs:element name="CT" type="xs:string"/>
													<xs:element name="RI" type="xs:string"/>
													<xs:element name="LF" type="xs:string"/>
													<xs:element name="TOC" type="xs:string"/>
													<xs:element name="LG" type="xs:string"/>
													<xs:element name="AF_GRP" type="xs:string"/>
													<xs:element name="AF_NAT" type="xs:string"/>
													<xs:element name="NF" type="xs:string"/>
													<xs:element name="VO" type="xs:string"/>
													<xs:element name="DD">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DD_DATE" type="xs:string"/>
																<xs:element name="DD_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DH">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DH_DATE" type="xs:string"/>
																<xs:element name="DH_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LO">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LO_DATE" type="xs:string"/>
																<xs:element name="LO_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SG">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SG_DATE" type="xs:string"/>
																<xs:element name="SG_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TP">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TP_DATE" type="xs:string"/>
																<xs:element name="TP_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DB">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DB_DATE" type="xs:string"/>
																<xs:element name="DB_SESS" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RP">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RP_DATE" type="xs:string"/>
																<xs:element name="RP_TYPE" type="xs:string" minOccurs="0"/>
																<xs:element name="RP_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DN_OLD" type="xs:string"/>
													<xs:element name="DN_OLD_DATE" type="xs:string"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_DOC_LNK" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LNK_CELEX_DN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="LNK_OJ_PUB" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LNK_COLL_OJ" type="xs:string"/>
																<xs:element name="LNK_NO_OJ" type="xs:string"/>
																<xs:element name="LNK_NO_OJ_CLASS" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_PD_OJ" type="xs:string"/>
																<xs:element name="LNK_PAGE_FIRST" type="xs:string"/>
																<xs:element name="LNK_PAGE_LAST" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LNK_CONSLEG" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LNK_CONSLEG_REFER" type="xs:string"/>
																<xs:element name="LNK_CONSLEG_DATE" type="xs:string"/>
																<xs:element name="LNK_CONSLEG_PAGES" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LNK_COM" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="LNK_CES" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="LNK_CDR" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_JUR" minOccurs="0">
											<xs:complexType>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="AU" type="xs:string"/>
													<xs:element name="FM" type="xs:string"/>
													<xs:element name="TT" type="xs:string"/>
													<xs:element name="REP" type="xs:string"/>
													<xs:element name="RS" type="xs:string"/>
													<xs:element name="AS" type="xs:string"/>
													<xs:element name="IC" type="xs:string"/>
													<xs:element name="IF">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="IF_DATE" type="xs:string"/>
																<xs:element name="IF_TYPE" type="xs:string" minOccurs="0"/>
																<xs:element name="IF_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DL">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DL_DATE" type="xs:string"/>
																<xs:element name="DL_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="EV">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="EV_DATE" type="xs:string"/>
																<xs:element name="EV_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LB">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LB_DNPLUS" type="xs:string"/>
																<xs:element name="LB_DN_COMMENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CI" type="xs:string"/>
													<xs:element name="PP">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PP_PP" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PP_TYPE" type="xs:string"/>
																			<xs:element name="PP_ORGANE" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PP_COMMENT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MI" type="xs:string"/>
													<xs:element name="CM" type="xs:string"/>
													<xs:element name="BF_NAT" type="xs:string"/>
													<xs:element name="BF" type="xs:string"/>
													<xs:element name="LE" type="xs:string"/>
													<xs:element name="TM" type="xs:string"/>
													<xs:element name="PROC_GR">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PROC_TYP" type="xs:string"/>
																<xs:element name="PROC_ANN" type="xs:string"/>
																<xs:element name="PROC_NUM" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_JUR_LNK" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LNK" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LNK_TYPE_LIEN" type="xs:string"/>
																<xs:element name="LNK_NUMDOC_A" type="xs:string"/>
																<xs:element name="LNK_NUMDOC_P" type="xs:string"/>
																<xs:element name="LNK_ROLE1" type="xs:string"/>
																<xs:element name="LNK_ROLE2" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_PLACE_A" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_PLACE_P" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_CONTENU" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_DD_EV" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_DD_MA" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_DF_EV" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_DF_MA" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_LG" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_PAYS" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_COM_INT" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_COM_EXT" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_PROC" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_VOIR_AVT" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_FAMILLE" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_VOIR_APR" type="xs:string" minOccurs="0"/>
																<xs:element name="LNK_CONS_1" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="LNK_CONSREF" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="LNK_CONSNUM" type="xs:string"/>
																						<xs:element name="LNK_CONSDATE" type="xs:string"/>
																						<xs:element name="LNK_CONSPAGE" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="LNK_CONS_COM" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_EUROVOC" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EUROVOC" type="xs:string" maxOccurs="unbounded"/>
													<xs:element name="EUROVOC_PROP" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
													<xs:element name="EUROVOC_OLD" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType/>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_CDJ" minOccurs="0">
											<xs:complexType>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="AG" type="xs:string"/>
													<xs:element name="JR" type="xs:string"/>
													<xs:element name="AP" type="xs:string"/>
													<xs:element name="DF" type="xs:string"/>
													<xs:element name="OB" type="xs:string"/>
													<xs:element name="NA" type="xs:string"/>
													<xs:element name="PR" type="xs:string"/>
													<xs:element name="NC" type="xs:string"/>
													<xs:element name="NO" type="xs:string"/>
													<xs:element name="RJ" type="xs:string"/>
													<xs:element name="CJ">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CJ_DNPLUS" type="xs:string"/>
																<xs:element name="CJ_NOPAR" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_MNE" minOccurs="0">
											<xs:complexType>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="BE" type="xs:string"/>
													<xs:element name="DK" type="xs:string"/>
													<xs:element name="DE" type="xs:string"/>
													<xs:element name="GR" type="xs:string"/>
													<xs:element name="ES" type="xs:string"/>
													<xs:element name="FR" type="xs:string"/>
													<xs:element name="IR" type="xs:string"/>
													<xs:element name="IT" type="xs:string"/>
													<xs:element name="LU" type="xs:string"/>
													<xs:element name="NL" type="xs:string"/>
													<xs:element name="PT" type="xs:string"/>
													<xs:element name="UK" type="xs:string"/>
													<xs:element name="AT" type="xs:string"/>
													<xs:element name="FI" type="xs:string"/>
													<xs:element name="SV" type="xs:string"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="VOLET_CONSLEG" minOccurs="0">
											<xs:annotation>
												<xs:documentation>informations provenant de la consolidation</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CONSOLID_FICHE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="CONSOLID_GR" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CONSOLID_SEQ"  minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>sequence dans la liste</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CONSOLID_ACT" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>si acte modificateur</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CONSOLID_DN">
																				<xs:annotation>
																					<xs:documentation>numdoc de l_acte modificateur</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="CONSOLID_ROLE">
																				<xs:annotation>
																					<xs:documentation>IN ou OUT suivant prise en compte dans consolidation</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="CONSOLID_CONSLEG" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>si acte consolide</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CONSOLID_FAMILY">
																				<xs:annotation>
																					<xs:documentation>reference consleg</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="CONSOLID_START">
																				<xs:annotation>
																					<xs:documentation>date de debut de validite</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="CONSOLID_END">
																				<xs:annotation>
																					<xs:documentation>date de fin de validite</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="CONSOLID_COUCHE">
																				<xs:annotation>
																					<xs:documentation>numero de la couche</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="NAME" type="xs:string" use="required"/>
			<xs:attribute name="ORIGINE" type="xs:string" use="required"/>
			<xs:attribute name="DATE" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
