formex/schema/efog_20060703.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY 		% t_date					"#PCDATA"	>
<!-- 
	Element container
-->
<!ELEMENT 	efog
							(efog.abbreviation*, efog.abrogation*, efog.act-number?, efog.applicability?, efog.authority?,
							efog.bibliographic-citation*, efog.date-enter-into-force?, efog.date-passing?, efog.date-publication, 
							efog.date-signature*, efog.document-type, efog.eurovoc?, efog.index?, efog.nickname*, 
							efog.reference-corrigendum*, efog.reference-eu?, efog.reference-oj?, efog.registration?, 
							efog.signatory*, efog.title+) >
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.abbreviation
							(#PCDATA) >
<!ATTLIST		efog.abbreviation
							type						(official|other)		#REQUIRED	>
<!--
	official: 	abbreviation prescribed in the act; 
	other: 	abbreviation currently used in the spoken language
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.abrogation		
							(efog.date-abrogation, efog.target?, efog.originator?)	>
<!-- 
	information on abrogation of an act or a fragment
	specification of the date (mandatory), the target (optional) and the originator (law, jurisdiction, etc.) (optional)
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.act-number	
							(#PCDATA)	>
<!-- 
	official number of an act, identification
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.applicability	
							(efog.date-start, efog.date.end?, efog.condition?)	>
<!-- 
	specification of the applicability of an act, optional specification of reasons or conditions
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.authority			
							(#PCDATA)	>
<!-- 
	competent body
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.bibliographic-citation
							(efog.uri | (efog.series?, efog.ojno?, efog.date-publication, efog.page?))	>
<!-- 
	reference to another act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.celex
							(#PCDATA)	>
<!-- 
	Celex number; attention: the pattern only covers directives and their corrigenda
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.condition
							(efog.p+)	>
<!-- 
	expression of reason or condition in the context of the applicability of an act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-abrogation
							(%t_date;)	>
<!-- 
	date of abrogation of an act or a part of it
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-end
							(%t_date;)	>
<!-- 
	date of the end of applicability
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-enter-into-force
							(%t_date;)	>
<!-- 
	date of entering into the legal systems
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-passing
							(%t_date;)	>
<!-- 
	final acceptance by the Parliament
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-publication
							(%t_date;)	>
<!-- 
	date of publication in the official medium
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-signature
							(%t_date;)	>
<!ATTLIST		efog.date-signature
						quality		CDATA		#IMPLIED	>
<!-- 
	signature of the act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.date-start
							(%t_date;)	>
<!-- 
	date of start of applicability
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.document-type
							(#PCDATA)	>
<!-- 
	specification of type of document such as regulation, directive, decision etc.
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.eurovoc
							(efog.keyword+)	>
<!-- 
	container for Eurovoc descriptors
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.index
							(efog.keyword+)	>
<!-- 
	container for descriptors of a local indexation system
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.keyword
							(#PCDATA)	>
<!-- 
	descriptor from Eurovoc or a local indexation system
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.nickname
							(#PCDATA)	>
<!-- 
	title currently used in the spoken language
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.ojno
							(#PCDATA)	>
<!-- 
	number of the official journal/gazette referred to
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.originator
							(#PCDATA)	>
<!-- 
	originator of the limitation of applicability of an act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.p
							(#PCDATA)	>
<!-- 
	container for any information which has to be kept together
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.page
							(#PCDATA)	>
<!-- 
	first page of a document within a oj reference
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.reference-corrigendum
							((efog.uri)|(efog.series?,efog.ojno?, efog.date-publication, efog.page?))	>
<!ATTLIST		efog.reference-corrigendum
						roll		(active|passive)		#REQUIRED	>
<!-- 
	reference to a corrigendum
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.reference-eu
							(efog.celex?, efog.reference-oj)	>
<!-- 
	container for the reference to a European directive with the Celex number as identifier and the bibliographic location
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.reference-oj
							(efog.uri|(efog.series?, efog.ojno?, efog.date-publication, efog.page?))	>
<!-- 
	reference to the official publication of a legal act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.registration
							(#PCDATA)	>
<!-- 
	information on the local registration
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.series
							(#PCDATA)	>
<!-- 
	series of official journal/gazette
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.signatory
							(#PCDATA)	>
<!-- 
	name(s) of person(s) empowered by a competent body to sign an act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.target
							(#PCDATA)	>
<!-- 
	definition of the target of the limitation of applicability
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.title
							(#PCDATA)	>
<!ATTLIST		efog.title
						type		(official| short)		#REQUIRED	>
<!-- 
	official: name given to the resource; short: citation title prescribed in the act
-->
<!-- ............................................................................................................................................................................................................. -->
<!ELEMENT	efog.uri
							(#PCDATA)	>
<!-- 
	electronic address
-->
<!-- ............................................................................................................................................................................................................. -->
